* {
  box-sizing: border-box;
}

.App-header {
  background-color: #1d3557;
  color: whitesmoke;
  font-size: 42px;
  padding: 15px;
  text-align: left;
}

.App {
  text-align: center;
}

body {
  background-color: whitesmoke;
}

ul.App-ul {
  background-color: #1d3557;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li a {
  text-decoration: none;
  color: #f1faee;
  height: 100%;
  padding: 15px;
  text-align: center;
  float: left;
  border-radius: 4px;
}

a:hover {
  background-color: #e63946;
}