* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  width: 100%;
  padding: 20px;
}

li.Post-item {
  padding: 5%;
  margin: 5%;
  background-color: #393b44;
  color: whitesmoke;
  overflow: hidden;
  border-radius: 10px;
}

li.Post-details {
  display: flex;
  padding: 5px;
}

.Post-title {
  font-weight: bold;
  font-size: 28px;
  text-align: left;
}

.Post-date {
  font-size: 12px;
}

.Post-content {
  font-size: 18px;
  text-align: left;
}

ul.Post-buttons {
  display: flex;
  flex-direction: row;
}

.Delete-button {
  background-color: #ff4d4d;
  border: none;
  color: whitesmoke;
  font-size: 16px;
  padding: 5px 10px;
  text-decoration: none;
  border-radius: 4px;
  cursor: pointer;
}

.Delete-button:hover {
  background-color: whitesmoke;
  color: #ff4d4d;
}

.Update-button {
  background-color: #d6e0f0;
  color: #393b44;
  border: none;
  font-size: 16px;
  padding: 5px 10px;
  text-decoration: none;
  border-radius: 4px;
  cursor: pointer;
}

.Update-button:hover {
  background-color: whitesmoke;
}

.update-container {
  background-color: #d6e0f0;
  padding: 2%;
  margin: 2%;
  border-radius: 10px;
  border-top-left-radius: 0;
}

.Loading-message {
  padding: 25%;
  font-size: 28px;
  font-weight: bold;
  color: #393b44;
}

.Error {
  padding: 25%;
  font-size: 28px;
  font-weight: bold;
  color: #ff4d4d;
}